//badge
.badge {
  display: inline-flex;
  font-size: 1.4rem;
  height: 2.4rem;
  padding: 0 0.8rem;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  border-radius: 0.6rem;
  font-weight: 500;
  &.small {
    height: 2rem;
    padding: 0 0.6rem;
    font-size: 1.2rem;
  }
  &.large {
    height: 3.4rem;
    padding: 0 0.8rem;
    font-size: 1.8rem;
  }

  &.gray {
    background-color: #f2f4f6;
    color: #818892;
  }
  &.red {
    background-color: #ffebee;
    color: #e43333;
  }
  &.green {
    background-color: #e5f5ed;
    color: #15b071;
  }
  &.blue {
    background-color: rgba(68, 126, 238, 0.1);
    color: #447eee;
  }
  &.blue2 {
    background-color: rgba(34, 165, 209, 0.1);
    color: #22a5d1;
  }
  &.orange {
    background-color: #fff3d2;
    color: #f99336;
  }
  &.black {
    background-color: var(--strong-txt-color);
    color: #fff;
  }

  //투자성향
  &.lv-1 {
    background-color: rgba(102, 155, 45, 0.2);
    background-color: to-light(#669b2d, 80);
    color: #669b2d;
  }
  &.lv-2 {
    background-color: rgba(156, 226, 8, 0.2);
    color: #9ce208;
  }
  &.lv-3 {
    background-color: rgba(244, 200, 25, 0.2);
    color: #f4c819;
  }
  &.lv-4 {
    background-color: rgba(255, 129, 38, 0.2);
    color: #ff8126;
  }
  &.lv-5 {
    background-color: rgba(228, 72, 42, 0.1);
    color: #e4482a;
  }

  &.line {
    background: #fff;
    color: var(--strong-txt-color);
    border-radius: 0;
    padding: 0 0.7rem;
    border: 0.1rem solid #eee;
  }
  &.round {
    border-radius: 1.5rem;
  }
}

.badge2 {
  display: flex;
  padding: 0 0.6rem;
  border: 0.1rem solid #c2c2c2;
  border-radius: 1rem;
  font-size: 1.1rem;
  height: 1.9rem;
  align-items: center;
  color: #b0b0b0;
}
