// img
.img-box {
  position: relative;
  display: block;
  @include bg-etc;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  img {
    pointer-events: none;
    @include img-fit(true);
  }
  .img-box-del {
    display: block;
    position: absolute;
    right: -0.4rem;
    top: -0.4rem;
    width: 2rem;
    height: 2rem;
    background: url(../images/icon/ico-round-close@3x.png) no-repeat center center / contain;
  }
  &.TBD {
    background: rgba(255, 0, 0, 0.2);
  }
  &.end-img-check {
    background-image: url(../images/end/end-img-check.png);
  }
  &.end-img-complate {
    background-image: url(../images/end/end-img-complate.png);
  }
}
.img-area {
  text-align: center;
  display: block;
  img {
    max-width: 100%;
  }
}
.smooth-corners {
  mask-image: paint(smooth-corners);
}
.img-box-wrap {
  display: flex;
  .section & {
    @include outer(true);
  }
  @include scroll-x;
  .img-box + .img-box {
    margin-left: 0.8rem;
  }
  .img-box {
    width: 8rem;
    flex-shrink: 0;
    border-radius: 0.4rem;
    &:before {
      border: 0.1rem solid #eee;
      border-radius: 0.4rem;
      padding-top: calc(100% - 0.2rem);
    }
  }
  &.ty2 {
    padding-top: 0.4rem;
    .img-box + .img-box {
      margin-left: 1.6rem;
    }
  }
}
