.round-line-box {
  background: #fff;
  padding: 2rem;
  border: 0.1rem solid #ebebeb;
  border-radius: 1.2rem;
}
// 임시 (삭제 될 css)
.check-btn-grid.pay-check-btn {
  .radio.btn {
    .lbl {
      background: #fff;
      height: 8rem;
      padding: 0;
      flex-direction: column;
      div {
        margin-top: 0.6rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }
}
.user-txt-info {
  position: relative;
  .dt {
    padding-right: 8.5rem;
    .button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .dd {
    margin-top: 0.4rem;
    font-size: 1.4rem;
    word-break: break-all;
    p + p {
      margin-top: 0.4rem;
    }
  }
}

.scl-list-wrap {
  margin-top: 2rem;
  .section & {
    @include outer;
  }
  > ul {
    display: flex;
    @include scroll-x;
    @include scroll-hide;
    > li {
      padding: 0 0.8rem;
      &:first-child {
        padding-left: 2rem;
      }
      &:last-child {
        padding-right: 2rem;
      }
    }
  }
}
