.main {
  #header > div,
  .page-head > div {
    height: 5rem;
  }
  #container:first-child,
  .page-body:first-child {
    padding-top: 0;
  }
  html.ios & {
    #container:first-child,
    .page-body:first-child {
      padding-top: 0;
    }
  }
}

// 메인이벤트 팝업
.popup.pop-event {
  .pop-wrap {
    border-top-width: 0 !important;
  }
  .pop-body {
    padding: 0 !important;
  }
  .pop-foot {
    line-height: 1.1;
    > div {
      padding: 2.2rem var(--base-padding);
    }
  }
  .btn-today {
    i {
      margin-right: 1.5rem;
    }
  }
  .btn-close {
    font-weight: 500;
    color: var(--strong-txt-color);
    border-bottom: 0.1rem solid var(--strong-txt-color);
  }
}
.main-bg {
  background-color: #f2f4f6 !important;
}
.floating-menu-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: auto !important;
  left: -0.1rem;
  right: -0.1rem;
  max-width: 102.6rem;
  z-index: 40;
  padding: 0 1rem;
  border-radius: 2.4rem 2.4rem 0 0;
  border: 0.1rem solid #ebebeb;
  border-bottom-width: 0;
  background: #fff;
  a {
    width: 100%;
    height: 6rem;
    padding-top: 0.8rem;
    text-align: center;
    font-size: 1.2rem;
    color: #979797;
    align-items: center;
    line-height: 1.7rem;
    @include is-native;
    &.on {
      color: #000;
      font-weight: bold;
    }
  }
  @include class-begins('i-ico-') {
    display: block;
    margin: 0 auto 0.1rem;
  }
  .lottie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include class-begins('i-ico-', '+') {
      display: none;
    }
  }
  i {
    width: 2.4rem;
    height: 2.4rem;
    margin-bottom: 0.1rem;
  }
  // .lottie {
  //   display: none;
  // }
  @include media-min-width(1024) {
    @include web-center-fixed;
  }
}
//수익률로 대결해보세요!
.home-tip {
  position: relative;
  margin-bottom: 0.8rem;
  display: flex;
  font-size: 1.4rem;
  color: #fff;
  background: var(--primary-color);
  box-shadow: 0.2rem 0.4rem 1.6rem rgba(0, 0, 0, 0.04);
  border-radius: 0.8rem;
  overflow: hidden;
  .cont {
    display: block;
    line-height: 2rem;
    padding: 1rem 1.6rem;
    flex: 1 1 auto;
  }
  .close {
    display: block;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.75732 7.75781L16.2426 16.2431' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.75739 16.2431L16.2427 7.75781' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center / 2.4rem auto;
  }
}

.home-round-box {
  background-color: #fff;
  box-shadow: 0.2rem 0.4rem 1.6rem rgba(0, 0, 0, 0.04);
  padding: 2.4rem;
  border-radius: 1.6rem;
  + .home-round-box {
    margin-top: 1.6rem;
  }
}

.home-match-bn {
  display: flex;
  .button {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 1.6rem;
    overflow: hidden;
    background-color: #fafafa;
    &:before {
      content: '';
      display: block;
      padding-top: (231 / 175) * 100%;
    }
    &.new {
      &:after {
        content: 'NEW';
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        background: #fd7e64;
        padding: 0.5rem 0.9rem;
        font-size: 1.2rem;
        line-height: 1.7rem;
        border-radius: 1.6rem 0 0 1.6rem;
      }
    }
    img {
      @include img-fit(true);
    }
    + a {
      margin-left: 0.8rem;
    }
  }
}

.home-profile {
  display: flex;
  align-items: center;
  .cont {
    flex: 1 1 auto;
    padding-right: 10px;
    .tit {
      font-size: 2.2rem;
      strong {
        font-weight: 700;
      }
    }
    p {
      font-size: 1.2rem;
      color: #b0b0b0;
    }
  }
  .img-box {
    overflow: hidden;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    flex-shrink: 0;
  }
}
// 배너
.banner-btn-box {
  position: relative;
  display: block;
  &.banner-main {
    border-radius: 1.2rem;
    background: #98aaea;
    height: 8rem;
    padding: 1.7rem 1.6rem;
    font-size: 1.4rem;
    color: #fff;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 7.3rem;
      @include bg-etc(cover, left center);
      background-image: url(../images/MAIN/banner-btn-box-main.png);
      transform: translateX(100%);
      transition: transform 0.5s;
    }
    &.on:before {
      transform: translateX(0);
    }
    .banner-sub {
      font-size: 1.4rem;
    }
    .banner-tit {
      display: flex;
      align-items: center;
      strong {
        font-weight: 500;
      }
    }
  }
}
// 등록 카테고리
.registed-category {
  margin-top: 0.8rem;
  + .tit-h4 {
    margin-top: 2.4rem;
  }
  li {
    border-bottom: 0.1rem solid #f2f4f6;
    a.inner {
      display: flex;
      position: relative;
      padding: 1.6rem 0;
    }
    .cont {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1 1 auto;
      position: relative;
      padding-right: 1rem;
    }
    .tit {
      color: var(--strong-txt-color2);
    }
    .txt {
      font-size: 1.4rem;
      color: #818892;
    }
    .img-box {
      width: 3.2rem;
      height: 3.2rem;
      align-self: flex-end;
    }
  }
}
.home-baloon-tip {
  position: relative;
  border-radius: 1.6rem;
  border: 1px solid var(--primary-color);
  color: var(--strong-txt-color2);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  text-align: center;
  &:before {
    content: '';
    display: block;
    width: 1.1rem;
    height: 0.5rem;
    position: absolute;
    left: 50%;
    top: 100%;
    background: url(../images/MAIN/home-baloon-tip.png) no-repeat center top / 100% auto;
    transform: translateX(-50%);
  }
}

/* ---------------------------------- */
.main-gray-box2 {
  background: #fafafa;
  padding: 2rem;
  border-radius: 1.4rem;
  .dt {
    .left {
      display: flex;
      align-items: center;
    }
    .tit {
      color: var(--strong-txt-color);
    }
    .badge {
      margin-left: 0.8rem;
      padding: 0 0.8rem;
    }
  }
  .dd {
    margin-top: 0.5rem;
  }
  .dd-box {
    margin-top: 1.8rem;
    background: #fff;
    padding: 1.2rem;
    border-radius: 1.2rem;
  }

  .price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--strong-txt-color2);
    strong {
      color: var(--strong-txt-color);
      font-size: 2rem;
      line-height: 1;
      margin-right: 0.2rem;
    }
  }
  + .main-gray-box2 {
    margin-top: 1.2rem;
  }
}
