// .main-bottom-space {
//   height: 6rem;
// }

//탑배너
// .top-banner {
//   text-align: left;
//   .section {
//     padding: 0;
//   }
//   .inner {
//     position: relative;
//     display: block;
//     height: 6rem;
//     overflow: hidden;
//     img {
//       @include img-fit;
//     }
//   }
//   .top-banner-close {
//     position: absolute;
//     top: 1.2rem;
//     right: 1.2rem;
//     width: 3.6rem;
//     height: 3.6rem;
//     background: url(../images/contents/top-banner-close@3x.png) no-repeat center center / contain;
//   }
// }

// 메인이벤트 팝업
.popup.pop-event {
  .pop-wrap {
    border-top-width: 0 !important;
  }
  .pop-body {
    padding: 0 !important;
  }
  .pop-foot {
    line-height: 1.1;
    > div {
      padding: 2.2rem var(--base-padding);
    }
  }
  .btn-today {
    i {
      margin-right: 1.5rem;
    }
  }
  .btn-close {
    font-weight: 500;
    color: var(--strong-txt-color);
    border-bottom: 0.1rem solid var(--strong-txt-color);
  }
}

.floating-manu-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 6rem;
  padding: 0 2.4rem;
  border-radius: 2.4rem 2.4rem 0 0;
  border: 0.1rem solid #ebebeb;
  background: #fff;
  a {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #bcbcbc;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    &.on {
      color: #000;
    }
  }
}
