// 테스트

.match-animation {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  height: -vh(100);
  > * {
    position: relative;
    height: 50%;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .text-box {
    position: relative;
    text-align: center;
    padding-top: 5.6rem;
    .name {
      font-size: 1.6rem;
      color: #fff;
      opacity: 0;
    }
    .number-random {
      opacity: 0;
      .number {
        font-size: 4.6rem;
      }
      .number:after,
      .number:before,
      span {
        font-size: 4.6rem;
        color: #fff;
      }
      .percent {
        font-size: 3.8rem;
        color: #fff;
        opacity: 0.6;
      }
    }
  }

  .img {
    position: absolute;
    top: 13.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    span {
      opacity: 0;
      display: block;
      height: 100%;
    }

    img {
      height: 100%;
    }
  }

  .top {
    transform: translateY(-100%);
  }
  .down {
    transform: translateY(100%);

    &.influencer {
      .name {
        &:before {
          content: '';
          display: inline-block;
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 0.5rem;
          margin-top: -0.5rem;
          vertical-align: middle;
          background: url('../images/match/ico_star.png') no-repeat center center / 100%;
        }
      }
      .img {
        padding-top: 3rem;
        span {
          position: relative;
          width: 15rem;
          height: 15rem;
        }
        span:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 18rem;
          height: 18rem;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          background: url('../images/match/ico_influencer.png') no-repeat center center / 100%;
        }
        img {
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
        }
      }
    }
  }
  .vs {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 5.6rem;
    height: 7.5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    span {
      opacity: 0;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 0;
      background: url('../images/match/vs.png') no-repeat center center / 100%;
    }
  }
  .progressbar {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 0%;
    height: 0.6rem;
    background: #363636;
    border-radius: 0.3rem;
    transform: translateY(-50%);
    transition: all 3s linear 2s;
  }

  &.action {
    > * {
      .text-box {
        .name {
          animation: fadeInDown 0.5s ease 1s both;
        }
        .number-random {
          animation: fadeIn 0.8s ease 1.2s both;
        }
      }
      .img {
        animation: matchImg 1s ease infinite alternate both;
        span {
          animation: fadeInUp 0.5s ease 0.8s both;
        }
      }
    }
    .top {
      transform: translateY(0);
    }
    .down {
      transform: translateY(0);
    }
    .vs {
      animation: vsShake 1.5s ease-in-out infinite both;
      span {
        animation: bounceIn 0.5s ease 0.6s both;
      }
    }
    .progressbar {
      width: 100%;
    }
  }

  &.action.end {
    pointer-events: none;
    .top {
      overflow: hidden;
      transform: translateY(-101%);
      transition: all 0.5s ease-in-out;
    }
    .down {
      overflow: hidden;
      transform: translateY(101%);
      transition: all 0.5s ease-in-out;
    }
    .vs,
    .progressbar {
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
}

@keyframes vsShake {
  10%,
  90% {
    transform: translate(-50%, -50%) translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate(-50%, -50%) translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-50%, -50%) translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate(-50%, -50%) translate3d(0, 4px, 0);
  }
}

@keyframes matchImg {
  0% {
    transform: translateX(-50%) scale(1);
  }
  100% {
    transform: translateX(-50%) scale(1.05);
  }
}

.match-animation-result {
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: none;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
  background: #42ccab;

  .top-text-motion {
    padding-top: 6.8rem;
    text-align: center;
    font-size: 0;
    display: flex;
    .slide {
      display: flex;
      animation: topTextMotion 10s linear infinite both;
    }
    span {
      display: inline-block;
      flex: 0 0 auto;
      &:after {
        content: '우와우와우와우와우와우와우와우와';
        font-size: 1.4rem;
        color: #ffee4e;
        letter-spacing: 1.4rem;
      }
    }
  }
  .result-info {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;
    .tit {
      position: relative;
      &:before {
        content: '승리';
        display: block;
        font-size: 10rem;
        color: #fff;
        font-weight: bold;
        line-height: 1;
      }
    }
    .number {
      margin-top: 2rem;
      font-size: 4.6rem;
      color: #fff;
      line-height: 1;
      span {
        margin-left: 0.5rem;
        font-size: 3.8rem;
        font-weight: bold;
        line-height: 1;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .img-result-box {
      position: relative;
      margin-top: 4.8rem;
      .img {
        position: relative;
        width: 12rem;
        height: 12rem;
        margin: 0 auto 0.8rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        font-size: 1.8rem;
        color: #fff;
      }

      &:before {
        content: 'WOW';
        display: block;
        position: absolute;
        top: 0%;
        left: 50%;
        font-size: 14.4rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.1);
        line-height: 0.7;
        transform: translateX(-50%) rotate(-15deg);
      }
    }
  }
  .loss-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    padding: 4.5rem 0rem 2rem;
    border-top: 1px dashed rgba(255, 255, 255, 0.5);
    .img {
      width: 6rem;
      height: 6rem;
      img {
        width: 100%;
        height: 100%;
        filter: grayscale(100);
      }
    }
    .text-box {
      margin-left: 1rem;
      .name {
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.6rem;
      }
      .number {
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.8rem;
      }
    }
  }

  .btn-wrap {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }

  &.loss {
    background: #606060;
    .top-text-motion {
      span {
        &:after {
          content: '~!@#$%^&*()~!@#$%^&*()';
          color: #e8d52a;
        }
      }
    }
    .result-info {
      .tit {
        &:before {
          content: '패배';
        }
      }
      .img-result-box {
        .img {
          img {
            filter: grayscale(100);
          }
        }

        &:before {
          content: '딥빡';
          font-size: 8.4rem;
          color: rgba(255, 255, 255, 0.05);
          transform: translate(0%, -50%) rotate(-90deg);
          top: 50%;
          left: -2.4rem;
        }
        &:after {
          content: '아오';
          display: block;
          position: absolute;
          top: 50%;
          right: -2.4rem;
          font-size: 8.4rem;
          color: rgba(255, 255, 255, 0.05);
          transform: translate(0%, -50%) rotate(90deg);
          font-weight: bold;
        }
      }
    }

    .loss-info {
      .img {
        img {
          filter: grayscale(0);
        }
      }
      .text-box {
        .name {
          color: rgba(255, 255, 255, 0.5);
        }
        .number {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  &.draw {
    background: #d6dbe1;
    .top-text-motion {
      span {
        &:after {
          content: '헐헐헐헐헐헐헐헐헐헐헐헐헐헐';
          color: #818892;
        }
      }
    }
    .result-info {
      .tit {
        &:before {
          content: '무승부';
          color: #424242;
        }
      }
      .number {
        color: #606060;
        span {
          color: rgba(96, 96, 96, 0.6);
        }
      }
      .img-result-box {
        &:before {
          display: none;
        }
        .text {
          color: #424242;
        }
      }
    }

    .loss-info {
      border-top: 1px dashed rgba(0, 0, 0, 0.3);
      .img {
        img {
          filter: grayscale(0);
        }
      }
      .text-box {
        .name {
          color: #424242;
        }
        .number {
          color: #424242;
        }
      }
    }
  }

  &.show {
    display: flex;

    .result-info {
      .tit {
        animation: bounceIn 0.8s ease 0.4s both;
      }
      .number {
        animation: fadeInUp 0.8s ease 0.6s both;
      }
      .img-result-box {
        .img {
          animation: fadeInUp 0.8s ease 0.8s both;
        }

        .text {
          animation: fadeInUp 0.8s ease 0.8s both;
        }

        &:before,
        &:after {
          animation: fadeIn 0.8s ease 1s both;
        }
      }
    }
    .loss-info {
      .img {
        animation: fadeInLeft 0.8s ease 1.2s both;
      }
      .text-box {
        animation: fadeInRight 0.8s ease 1.4s both;
      }
    }

    .btn-wrap {
      animation: fadeInUp 0.8s ease 2.2s both;
    }
  }
}

@keyframes topTextMotion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

/* 매치현황 */
.my-match-info {
  margin-top: 1.4rem;
  ul {
    padding: 2.4rem;
    border-radius: 1.6rem;
    background: #fafafa;
    li {
      display: flex;
      align-items: center;
      i {
        margin-right: 1.2rem;
      }
      span {
        padding: 0 0.4rem;
      }
      + li {
        margin-top: 2.4rem;
      }
    }
  }
}

.match-score-box {
  padding: 2.4rem;
  margin-top: 1.2rem;
  border-radius: 1.6rem;
  background: #fafafa;
  .tit-box {
    display: flex;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #ebebeb;
    .tit {
      font-size: 1.6rem;
      strong {
        font-weight: bold;
      }
    }
    .time {
      flex: 0 0 auto;
      margin-left: auto;
      padding-top: 0.2rem;
      font-size: 1.2rem;
      color: #606060;
    }
  }
  .score-list {
    margin-top: 2.4rem;
    .record {
      display: flex;
      justify-content: space-between;
      & > div {
        display: flex;
        align-items: center;
        .img-box {
          width: 6rem;
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: -0.6rem;
            left: 50%;
            width: 3rem;
            height: 1.9rem;
            background: url('../images/icon/ico_crown.png') no-repeat center center / 100%;
            transform: translateX(-50%);
          }
        }
        .text {
          margin: 0 0.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #424242;
        }

        &:nth-child(2) {
          flex-flow: row-reverse;
          .img-box {
            img {
              filter: grayscale(100);
              opacity: 0.6;
            }
            &:after {
              display: none;
            }
          }
          .text {
            color: #979797;
          }
        }
      }
    }
    .point-box {
      margin-top: 1.2rem;
      span {
        display: flex;
        align-items: center;
        color: #424242;
        &:before {
          content: '';
          display: inline-block;
          width: 2rem;
          height: 2rem;
          margin-right: 0.6rem;
          vertical-align: middle;
          background: url('../images/icon/ico-point-small.png') no-repeat center center / 100%;
        }
        + span {
          margin-top: 0.5rem;
        }
      }
    }
  }

  &.loss {
    .score-list {
      .record {
        & > div {
          &:nth-child(1) {
            .img-box {
              img {
                filter: grayscale(100);
                opacity: 0.6;
              }
              &:after {
                display: none;
              }
            }
            .text {
              color: #979797;
            }
          }
          &:nth-child(2) {
            .img-box {
              img {
                filter: grayscale(0);
                opacity: 1;
              }
              &:after {
                display: block;
              }
            }
            .text {
              color: #424242;
            }
          }
        }
      }
    }
  }

  &.draw {
    .score-list {
      .record {
        & > div {
          &:nth-child(1) {
            .img-box {
              img {
                filter: grayscale(0);
                opacity: 1;
              }
              &:after {
                display: none;
              }
            }
            .text {
              color: #424242;
            }
          }
          &:nth-child(2) {
            .img-box {
              img {
                filter: grayscale(0);
                opacity: 1;
              }
              &:after {
                display: none;
              }
            }
            .text {
              color: #424242;
            }
          }
        }
      }
    }
  }
}

.top-100-box {
  margin: 0 -2.4rem;
  > a,
  > div {
    display: flex;
    padding: 1.8rem 0 1.8rem 0;
    margin: 0 2.4rem 0 1.4rem;
    align-items: center;
    border-bottom: 0.1rem solid #f2f4f6;
    .number {
      display: block;
      flex: 0 0 auto;
      width: 5rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      color: #212121;
    }
    .img-box {
      flex: 0 0 auto;
      width: 4.4rem;
      margin: 0 1.2rem 0 0.7rem;
    }
    .text-box {
      overflow: hidden;
      flex: 1 1 auto;
      .name {
        overflow: hidden;
        font-size: 1.6rem;
        color: #424242;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .score {
        margin-top: 0.3rem;
        font-size: 1.2rem;
        color: #979797;
      }
    }
    &:first-child:last-child {
      border-bottom: 0;
    }
  }
}

.fight-user-info {
  .user-img {
    position: absolute;
    top: -4rem;
    left: 50%;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    transform: translateX(-50%);
  }

  .info-total-box {
    display: flex;
    position: relative;
    margin-top: 1.6rem;
    padding: 1.6rem 0;
    border-radius: 1.2rem;
    background: #fafafa;
    > div {
      position: relative;
      width: 50%;
      text-align: center;
      font-size: 0;

      &:nth-child(2):after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 0.1rem;
        height: 7.2rem;
        background: #ebebeb;
        transform: translateY(-50%);
      }
    }
  }

  .hashtag-box {
    overflow: hidden;
    display: flex;
    margin-top: 1.2rem;
    p {
      overflow: hidden;
      flex: 1 1 auto;
      display: flex;
      height: 2.4rem;
      padding: 0.6rem 1.2rem;
      align-items: center;
      background: #fafafa;
      border-radius: 1.3rem;
      max-width: 33.333%;
      span {
        overflow: hidden;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;

        &:before {
          content: '#';
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.2rem;
          font-size: 1.2rem;
          color: #f134c8;
          line-height: 1;
          margin-top: -0.5rem;
        }
      }

      + p {
        margin-left: 0.5rem;
      }
    }
  }

  .circle-info-box {
    position: relative;
    display: flex;
    margin-top: 1.8rem;
    align-items: center;
    justify-content: space-around;
    > .label-text {
      text-align: center;
      .tit {
        font-size: 1.2rem;
        i {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          margin-top: -0.4rem;
          margin-right: 0.4rem;
          vertical-align: middle;
        }
      }
      .number {
        padding-left: 0.4rem;
        font-size: 1.8rem;
        color: #424242;
        font-weight: 500;
      }
    }
  }

  .stock-list-box {
    display: flex;

    .list {
      flex: 1 1 auto;
      margin-top: 1.6rem;
      text-align: center;
      .tit {
        padding-bottom: 0.8rem;
        margin-bottom: 1.6rem;
        border-bottom: 0.1rem solid #ebebeb;
        font-size: 1.2rem;
        color: #424242;
        span {
          color: #b0b0b0;
        }
      }

      ol {
        li {
          line-height: 1;
          &:nth-child(1) {
            font-size: 1.4rem;
          }
          &:nth-child(2) {
            font-size: 1.2rem;
          }
          &:nth-child(3) {
            font-size: 1rem;
          }
          + li {
            margin-top: 1.2rem;
          }
        }
      }

      + .list {
        margin-left: 1.2rem;
      }
    }
  }

  .total-cash {
    margin: 2.4rem 0 0.8rem;
    font-size: 1.6rem;
    text-align: center;
    span {
      font-size: 2.4rem;
      filter: blur(0.8rem);
    }
  }
}

.ground-wrap {
  .ground-main-info {
    .banner-box {
      height: 160px;
      margin: 0 -2.4rem;
      background: no-repeat center center / cover;

      /* 나중에 지울거 */
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .text-box {
      position: relative;
      margin: 2.4rem 0;
    }
    .tit {
      padding-right: 5.5rem;
      font-size: 2.2rem;
      color: #424242;
      font-weight: bold;
    }
    .sub-tit {
      margin-top: 1.6rem;
      font-size: 1.4rem;
      .hashtag {
        color: #f134c8;
      }
    }
    .info {
      margin-top: 1rem;
      span {
        margin-right: 0.8rem;
        i {
          margin-right: 0.3rem;
          vertical-align: middle;
          margin-top: -0.2rem;
        }
        font-size: 1.4rem;
        color: #979797;
      }
    }
    .tooltip-wrap {
      position: absolute;
      top: 1.3rem;
      right: 0;
    }
  }

  .ground-rank {
    .link-box {
      display: flex;
      margin-top: 2.2rem;
      margin-left: -0.8rem;
      li {
        position: relative;
        width: calc(33.333% - 0.8rem);
        margin-left: 0.8rem;
        text-align: center;
        border-radius: 16px 46px 16px 16px;
        a {
          padding: 1.8rem 1rem;
        }
        i {
          position: absolute;
          top: -0.8rem;
          right: -0.8rem;
          z-index: 1;
        }
        .img-box {
          width: 4rem;
          margin: 0 auto;
        }
        .tit {
          margin-top: 1rem;
          font-size: 1.4rem;
          color: #424242;
        }
        .number {
          margin-top: 0.3rem;
          font-size: 1.2rem;
          color: #979797;
        }

        &:nth-child(1) {
          background: #fffbe8;
        }
        &:nth-child(2) {
          background: #f5f5f5;
        }
        &:nth-child(3) {
          background: #faf1ea;
        }
      }
    }
    .my-ranking {
      display: flex;
      margin-top: 2.4rem;
      border-radius: 1.6rem;
      padding: 1.6rem;
      background: #fafafa;
      .img-box {
        width: 4.4rem;
      }
      .tit-box {
        margin-left: 1.2rem;
        flex: 1 1 auto;
        .name {
          font-size: 1.6rem;
          color: #424242;
        }
        .percent {
          font-size: 1.2rem;
          color: #979797;
        }
      }
      .rank {
        font-size: 1.8rem;
        color: #212121;
        text-align: right;
        .updown {
          display: block;
        }
      }
    }
  }

  .ground-talk {
    .filter {
      margin-top: 1.6rem;
      text-align: right;
      a {
        font-size: 1.4rem;
      }
    }
  }

  .user-detail-talk-box {
    margin-top: 1.4rem;
    .user-detail-talk {
      position: relative;
      border-top: 1px solid #f2f4f6;
      border-bottom: 1px solid #f2f4f6;
      padding: 1.7rem 2.4rem;
      margin: 0.4rem -2.4rem 0;
      .nick-name {
        display: flex;
        align-items: center;
        .img-box {
          width: 4rem;
        }
        .tit-box {
          flex: 1 1 auto;
          margin-left: 0.8rem;
          .name {
            font-size: 1.4rem;
            color: #23adfa;
            line-height: 1;
            &.me {
              color: #fe7d65;
              &:before {
                content: '나';
                display: inline-flex;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: 50%;
                font-size: 1rem;
                vertical-align: middle;
                margin-right: 0.3rem;
                margin-top: -0.2rem;
                color: #fff;
                justify-content: center;
                align-items: center;
                background: #fe7d65;
              }
            }
            &.writer {
              &:before {
                content: '작성자';
                display: inline-flex;
                width: 4rem;
                height: 1.8rem;
                border-radius: 0.9rem;
                font-size: 1rem;
                vertical-align: middle;
                margin-right: 0.3rem;
                margin-top: -0.2rem;
                color: #fff;
                justify-content: center;
                align-items: center;
                background: #23adfa;
              }
            }
          }
          .time {
            margin-top: 0.6rem;
            font-size: 1.2rem;
            line-height: 1;
            color: #979797;
          }
        }
      }
      .tit {
        margin-top: 1.2rem;
        font-size: 1.6rem;
        color: #424242;
        font-weight: 500;
      }
      .text {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        color: #979797;
      }

      .info-box {
        display: flex;
        align-items: center;
        margin-top: 1.6rem;
        span,
        a {
          display: block;
          margin-right: 1.6rem;
          font-size: 1.4rem;
          color: #979797;
          i {
            margin-right: 0.3rem;
            margin-top: -0.1rem;
            vertical-align: middle;
            transition: all 0.3s ease;
          }
        }
      }

      .btn-menu {
        position: absolute;
        top: 1.7rem;
        right: 0.5rem;
        width: 4rem;
        height: 4rem;
        font-size: 0;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 0.3rem;
          height: 0.3rem;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          background: #b0b0b0;
          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 0.3rem;
            height: 0.3rem;
            border-radius: 50%;
            background: #b0b0b0;
          }
          &:before {
            top: -0.6rem;
          }
          &:after {
            bottom: -0.6rem;
          }
        }
      }

      .btn-menu-over {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease 0.15s;
        .btn-group {
          display: flex;
          position: absolute;
          top: 2rem;
          right: 2.4rem;
          transform: translateY(10%);
          transition: all 0.3s ease;
          opacity: 0;
          a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 7.4rem;
            height: 3.6rem;
            font-size: 1.4rem;
            border-radius: 6px;
            color: #fff;
            i {
              margin-right: 0.4rem;
            }

            &.btn-alarm {
              background: #8657eb;
            }
            &.btn-edit {
              border-radius: 6px 0 0 6px;
              background: #5e6170;
            }
            &.btn-trash {
              border-radius: 0px 6px 6px 0px;
              background: #eb5757;
            }
          }
        }

        &.on {
          visibility: visible;
          opacity: 1;
          transition: all 0.3s ease;
          .btn-group {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s ease 0.15s;
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: -0.5rem;
        left: 0;
        width: 100%;
        display: block;
        height: 0.4rem;
        background: #fafafa;
      }
      &:first-child {
        margin-top: 0rem;
        &:before {
          display: none;
        }
      }

      &.comment {
        margin-top: 0rem;
        border-top: 0;
        padding-left: 4.1rem;
        background: #f7f7fa;
        &:before {
          display: none;
        }
        .nick-name {
          position: relative;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -1.6rem;
            width: 0.6rem;
            height: 0.6rem;
            border: 0.2rem solid #b0b0b0;
            border-width: 0 0 0.2rem 0.2rem;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

/* 공통 일거 같은 애들 */

.btn-share {
  display: inline-flex;
  i {
    margin-right: 0.4rem;
  }
  &.on {
    .i-ico-heart {
      animation: bounceIn 0.8s linear;
      background-image: url('../images/icon/ico-heart-on.png');
    }
  }
}

.img-thumb-group {
  margin-top: 1.2rem;
  .img-box-wrap {
    .img-box {
      width: 6.4rem;
    }
  }

  &.type2 {
    .img-box-wrap {
      .img-box {
        width: 28rem;
      }
    }
  }
}

.updown {
  margin-left: 0.4rem;
  font-size: 1.2rem;
  vertical-align: middle;
  line-height: 1;

  &:before {
    content: '';
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 1;
    margin-top: -0.2rem;
    margin-right: 0.2rem;
  }
  &.up {
    &:before {
      content: '▲';
    }
    color: #3887fd;
  }
  &.down {
    &:before {
      content: '▼';
    }
    color: #eb5757;
  }
}

.filter-info {
  display: inline-flex;
  align-items: center;
  margin: 1.6rem 0;
  padding: 0 1.2rem;
  height: 3.1rem;
  font-size: 1.2rem;
  color: #fe7d65;
  border-radius: 2rem;
  background: #fff5f3;
}

.loading-bar {
  --offset: 187;
  --duration: 1.4s;
  text-align: center;
  padding: 2.8rem 0;
  svg {
    animation: rotator var(--duration) linear infinite;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 auto;
    pointer-events: none;
    .path {
      stroke-dasharray: var(--offset);
      stroke-dashoffset: 0;
      transform-origin: center;
      stroke: #fe7d65;
      animation: dash var(--duration) ease-in-out infinite;
    }
  }
}

/* 내 댓글만 버튼 */
.btn-chk-toggle {
  label {
    background: #fff !important;
  }
  > input:checked + i + label i.i-ico-check-off-14 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6486 0.331936C14.0965 0.795514 14.1192 1.57218 13.6993 2.06666L5.744 11.6121C5.53385 11.8596 5.24028 12 4.933 12C4.62573 12 4.33216 11.8596 4.12201 11.6121L0.300667 7.11211C-0.119242 6.61763 -0.096548 5.84097 0.351354 5.37739C0.799257 4.91381 1.50276 4.93886 1.92266 5.43335L4.933 8.97832L12.0773 0.387894C12.4972 -0.106589 13.2007 -0.131642 13.6486 0.331936Z' fill='%23FE7D65'/%3E%3C/svg%3E");
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: var(--offset);
  }
  50% {
    stroke-dashoffset: var(--offset) / 4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: var(--offset);
    transform: rotate(450deg);
  }
}

.round-box-list {
  margin-top: 1.6rem;
  .list {
    padding: 1.6rem;
    background: #fafafa;
    border: 0.1rem solid #ebebeb;
    box-sizing: border-box;
    border-radius: 1.6rem;

    .tit {
      font-size: 1.6rem;
      color: #424242;
      word-break: break-all;
    }
    .date {
      margin-top: 0.8rem;
      font-size: 1.2rem;
      color: var(--primary-color);
      font-weight: bold;
    }

    + .list {
      margin-top: 1.2rem;
    }
  }
}

.quizOX-box {
  display: flex;
  position: relative;
  margin-left: -1.6rem;
  margin-bottom: 3.2rem;
  input {
    position: absolute;
    opacity: 0;
  }
  label {
    position: relative;
    width: calc(50% - 1.6rem);
    height: 14.2rem;
    margin-left: 1.6rem;
    border: 1px solid red;
    background: #fff;
    border-radius: 1.2rem;
    font-size: 0;
    transition: all 0.3 ease;

    &.quizO {
      border-color: #ddebff;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5.8rem;
        height: 5.8rem;
        transform: translate(-50%, -50%);
        border: 0.8rem solid #3887fd;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }
    &.quizX {
      border-color: #ffdede;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5.5rem;
        height: 0.9rem;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #eb5757;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5.5rem;
        height: 0.9rem;
        transform: translate(-50%, -50%) rotate(-45deg);
        background: #eb5757;
      }
    }
  }

  .on + label {
    &.quizO {
      background: #eaf2ff;
      &:before {
        box-shadow: 0px 4px 10px rgba(56, 135, 253, 0.4), 0px 4px 10px rgba(56, 135, 253, 0.4) inset;
      }
    }
    &.quizX {
      background: #ffebee;
      &:before,
      &:after {
        box-shadow: 0px 4px 10px rgba(235, 87, 87, 0.3);
      }
    }
  }

  .off + label {
    &.quizO {
      border-color: #ebeef1;
      background: #ebeef1;
      &:before {
        border-color: #d6dbe1;
        box-shadow: 0px 4px 10px rgba(214, 219, 225, 0.5);
      }
    }
    &.quizX {
      border-color: #ebeef1;
      background: #ebeef1;
      &:before,
      &:after {
        background: #d6dbe1;
        box-shadow: 0px 4px 10px rgba(214, 219, 225, 0.5);
      }
    }
  }
}
