.line-round-btn {
  position: relative;
  display: block;
  border: 0.1rem solid var(--line-color);
  background: #fff;
  border-radius: 1.6rem;
  padding: 2.3rem 2rem 2.3rem 6rem;
  transition: border 0.3s;
  &:active {
    border-color: var(--primary-color);
  }
  + .line-round-btn2 {
    margin-top: 0.8rem;
  }
  .btn-tit {
    color: var(--strong-txt-color2);
  }
  .btn-txt {
    font-size: 1.4rem;
    margin-top: 0.3rem;
  }
  .btn-ico {
    position: absolute;
    top: 50%;
    left: 0;
    width: 6rem;
    height: 3.2rem;
    margin-top: -1.6rem;
    @include bg-etc;
    &.ico-1 {
      background-image: url(../images/MY/connect2-ico-1.png);
    }
  }
}
.line-round-btn2 {
  position: relative;
  display: block;
  border: 0.1rem solid var(--line-color);
  background: #fff;
  border-radius: 1.6rem;
  padding: 2.4rem;
  transition: border 0.3s;
  &:active {
    border-color: var(--primary-color);
  }
  + .line-round-btn2 {
    margin-top: 0.8rem;
  }
  .btn-inner {
    position: relative;
  }
  .btn-tit {
    font-size: 1.8rem;
    color: var(--strong-txt-color2);
  }
  .btn-txt {
    margin-top: 1rem;
    padding-right: 7.2rem;
    min-height: 4.6rem;
    line-height: 2.3rem;
  }
  .btn-ico {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4.8rem;
    height: 4.8rem;
    @include bg-etc;
    img {
      @include img-fit;
    }
    &.ico-1 {
      background-image: url(../images/MY/connect-ico-1.png);
    }

    &.ico-2 {
      background-image: url(../images/MY/connect-ico-2.png);
    }
    &.ico-reg-1 {
      background-image: url(../images/MY/ico-reg-property-1.png);
    }
    &.ico-reg-2 {
      background-image: url(../images/MY/ico-reg-property-2.png);
    }
    &.ico-reg-3 {
      background-image: url(../images/MY/ico-reg-property-3.png);
    }
    &.ico-reg-4 {
      background-image: url(../images/MY/ico-reg-property-4.png);
    }
  }
}

.iframe-full-box {
  flex: 1 1 auto;
  iframe {
    height: -vh(100, 14.8rem, true);
  }
  &.pop-body {
    padding: 0 !important;
    border-top: 0.1rem solid var(--line-color);
    &:before {
      content: none;
    }
    iframe {
      height: 100%;
    }

    &.tab-pdf {
      display: flex;
      flex-flow: column;
      border-top: 0;
      .tab-panels {
        flex: 1 1 auto;
        .tab-panel {
          height: 100%;
        }
      }
    }
  }
}
.t-price {
  color: var(--strong-txt-color);
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3.5rem;
  strong {
    margin-right: 0.4rem;
    font-size: 3rem;
  }
}
.round-line-box.price-info-box {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  .box-top {
    padding-top: 2.4rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--line-color);
  }
  .t-price {
    margin-top: 1.6rem;
  }
  .link-wrap {
    margin: 0 -2rem;
    .button.link {
      display: flex;
      padding: 0 2rem;
      width: 100%;
      height: 5.6rem;
      border-radius: 0;
      font-size: 1.4rem;
      color: var(--strong-txt-color);
      i {
        margin-left: auto;
      }
    }
  }
}
.remarks-animation-box {
  position: relative;
  margin: 1.3rem 1.6rem 3.2rem;
  pointer-events: none;
  .top-text {
    position: relative;
    height: 5.8rem;
    text-align: center;
    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 2rem;
      color: #424242;
      span {
        display: block;
        font-weight: bold;
        &.one {
          transform: translateY(100%);
        }
        &.two {
          opacity: 0;
        }
      }

      &.off {
        opacity: 1;
      }
      &.on {
        opacity: 0;
      }
    }

    &.show {
      .off {
        transition: all 0.3s ease;
        opacity: 0;
      }
      .on {
        transition: all 0.3s ease;
        opacity: 1;
      }
    }
  }
  .cash-info {
    display: flex;
    position: relative;
    margin-top: 2rem;
    padding: 1.6rem 2.4rem;
    background: #fafafa;
    border-radius: 5.5rem;
    align-items: center;
    transition: all 0.3s ease;
    .left {
      position: relative;
      span {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 1.6rem;
        font-weight: 500;
        transform: translateY(-50%);
        &.off {
          opacity: 1;
          color: #e43333;
        }
        &.on {
          opacity: 0;
          color: #fff;
          &:before {
            content: '';
            display: inline-block;
            width: 1.6rem;
            height: 1.8rem;
            margin-right: 0.4rem;
            background: url('../images/contents/img-remarks.png') no-repeat center center / 100%;
          }
        }
      }
    }
    .right {
      margin-left: auto;
      font-size: 1.6rem;
      color: #212121;
      font-weight: 500;
      transition: all 0.3s ease;
      strong {
        font-size: 2rem;
      }
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      transform: translate(-50%, 100%);
      border-width: 0.7rem 0.6rem;
      border-style: solid;
      transition: all 0.3s ease;
      border-color: #fafafa transparent transparent transparent;
    }

    &.action {
      background: #447eee;
      &:after {
        border-top-color: #447eee;
      }
      .right {
        color: #fff;
      }
    }
  }

  .switch-ani-box {
    display: flex;
    height: 5.5rem;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-top: 1.5rem;
    background: #fff;
    align-items: center;
    padding: 0 2.8rem 0 2rem;
    .checkbox {
      margin-left: auto;
    }
  }

  .lottie {
    position: absolute;
    left: 0;
    top: -25%;
    z-index: 2;
    width: 100%;
    height: 150%;
    opacity: 0;
  }
}

/** BSW **/
//
.calendar-wrap {
  display: flex;
  margin-top: 1.6rem;
  > div {
    width: 100%;
    text-align: center;
  }
  strong {
    font-weight: 500;
  }
  .calendar-tit {
    position: relative;
    font-size: 1.4rem;
    line-height: 1;
    height: 3.8rem;
    line-height: 3.8rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: #fff;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -0.4rem;
      width: 0.6rem;
      height: 1.4rem;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='14' viewBox='0 0 6 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='11' r='3' fill='%23DEDEDE'/%3E%3Ccircle cx='3' cy='11' r='2' fill='black'/%3E%3Cpath d='M2 1C2 0.447715 2.44772 0 3 0C3.55228 0 4 0.447715 4 1V11C4 11.5523 3.55228 12 3 12C2.44772 12 2 11.5523 2 11V1Z' fill='%23979797'/%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &:before {
      left: 1.6rem;
    }
    &:after {
      right: 1.6rem;
    }
  }
  .calendar-date {
    font-size: 5.4rem;
    border-bottom-width: 0.1rem;
    border-style: solid;
    height: 9.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    strong {
      align-self: center;
      justify-self: center;
      &.ff-noto {
        font-size: 4rem;
      }
    }
  }
  .calendar-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
    padding: 1.6rem;
    strong {
      font-size: 2.3rem;
      margin-right: 0.2rem;
    }
  }
  .last-month {
    margin-right: 0.55rem;
    .calendar-tit {
      background-color: #818892;
    }
    .calendar-date {
      border-color: rgba($color: #212121, $alpha: 0.2);
    }
    .calendar-date,
    .calendar-bottom {
      color: var(--strong-txt-color);
      background-color: #fafafa;
    }
  }
  .this-month {
    margin-left: 0.55rem;
    color: #fff;
    .calendar-tit {
      background-color: #de624b;
    }
    .calendar-date {
      border-color: rgba($color: #fff, $alpha: 0.2);
      &:before {
        content: '';
        position: absolute;
        width: 4rem;
        height: 4.2rem;
        right: 1.2rem;
        top: -1.8rem;
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='42' viewBox='0 0 40 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H40V33.3443L20 42L0 33.3443V0Z' fill='%23FFE609'/%3E%3Cpath d='M2 2H38V31.9383L20 40L2 31.9383V2Z' fill='%23FFE608'/%3E%3Cpath d='M2.5 2.5H37.5V31.6144L20 39.4521L2.5 31.6144V2.5Z' stroke='black' stroke-opacity='0.04'/%3E%3Cpath d='M11.7695 14.4688V23H10.0117V14.4688H11.7695ZM16.8789 14.4688L13.498 18.6816L11.5469 20.7793L11.2305 19.1152L12.5488 17.3105L14.7227 14.4688H16.8789ZM14.8809 23L12.3672 19.0566L13.668 17.9668L16.9609 23H14.8809ZM19.3984 14.4688V23H17.6406V14.4688H19.3984ZM24.5078 14.4688L21.127 18.6816L19.1758 20.7793L18.8594 19.1152L20.1777 17.3105L22.3516 14.4688H24.5078ZM22.5098 23L19.9961 19.0566L21.2969 17.9668L24.5898 23H22.5098ZM30.7539 21.6289V23H26.459V21.6289H30.7539ZM27.0273 14.4688V23H25.2695V14.4688H27.0273Z' fill='%23212121' fill-opacity='0.4'/%3E%3Cpath d='M11.7695 14.4688H12.7695V13.4688H11.7695V14.4688ZM11.7695 23V24H12.7695V23H11.7695ZM10.0117 23H9.01172V24H10.0117V23ZM10.0117 14.4688V13.4688H9.01172V14.4688H10.0117ZM16.8789 14.4688L17.6588 15.0946L18.9636 13.4688H16.8789V14.4688ZM13.498 18.6816L14.2303 19.3627L14.2551 19.336L14.278 19.3075L13.498 18.6816ZM11.5469 20.7793L10.5645 20.9661L10.9335 22.907L12.2791 21.4604L11.5469 20.7793ZM11.2305 19.1152L10.423 18.5253L10.167 18.8757L10.2481 19.302L11.2305 19.1152ZM12.5488 17.3105L11.7546 16.703L11.7479 16.7117L11.7413 16.7207L12.5488 17.3105ZM14.7227 14.4688V13.4688H14.2286L13.9284 13.8612L14.7227 14.4688ZM14.8809 23L14.0376 23.5375L14.3324 24H14.8809V23ZM12.3672 19.0566L11.725 18.2901L11.0521 18.8539L11.5239 19.5942L12.3672 19.0566ZM13.668 17.9668L14.5048 17.4193L13.8885 16.4774L13.0257 17.2003L13.668 17.9668ZM16.9609 23V24H18.8102L17.7978 22.4525L16.9609 23ZM10.7695 14.4688V23H12.7695V14.4688H10.7695ZM11.7695 22H10.0117V24H11.7695V22ZM11.0117 23V14.4688H9.01172V23H11.0117ZM10.0117 15.4688H11.7695V13.4688H10.0117V15.4688ZM16.099 13.8429L12.7181 18.0558L14.278 19.3075L17.6588 15.0946L16.099 13.8429ZM12.7658 18.0006L10.8147 20.0982L12.2791 21.4604L14.2303 19.3627L12.7658 18.0006ZM12.5293 20.5925L12.2129 18.9284L10.2481 19.302L10.5645 20.9661L12.5293 20.5925ZM12.038 19.7051L13.3563 17.9004L11.7413 16.7207L10.423 18.5253L12.038 19.7051ZM13.3431 17.9181L15.5169 15.0763L13.9284 13.8612L11.7546 16.703L13.3431 17.9181ZM14.7227 15.4688H16.8789V13.4688H14.7227V15.4688ZM15.7241 22.4625L13.2104 18.5191L11.5239 19.5942L14.0376 23.5375L15.7241 22.4625ZM13.0094 19.8232L14.3102 18.7333L13.0257 17.2003L11.725 18.2901L13.0094 19.8232ZM12.8312 18.5143L16.1241 23.5475L17.7978 22.4525L14.5048 17.4193L12.8312 18.5143ZM16.9609 22H14.8809V24H16.9609V22ZM19.3984 14.4688H20.3984V13.4688H19.3984V14.4688ZM19.3984 23V24H20.3984V23H19.3984ZM17.6406 23H16.6406V24H17.6406V23ZM17.6406 14.4688V13.4688H16.6406V14.4688H17.6406ZM24.5078 14.4688L25.2877 15.0946L26.5925 13.4688H24.5078V14.4688ZM21.127 18.6816L21.8592 19.3627L21.884 19.336L21.9069 19.3075L21.127 18.6816ZM19.1758 20.7793L18.1934 20.9661L18.5624 22.907L19.908 21.4604L19.1758 20.7793ZM18.8594 19.1152L18.0519 18.5253L17.7959 18.8757L17.877 19.302L18.8594 19.1152ZM20.1777 17.3105L19.3835 16.703L19.3768 16.7117L19.3702 16.7207L20.1777 17.3105ZM22.3516 14.4688V13.4688H21.8575L21.5573 13.8612L22.3516 14.4688ZM22.5098 23L21.6665 23.5375L21.9613 24H22.5098V23ZM19.9961 19.0566L19.3539 18.2901L18.681 18.8539L19.1528 19.5942L19.9961 19.0566ZM21.2969 17.9668L22.1337 17.4193L21.5174 16.4774L20.6547 17.2003L21.2969 17.9668ZM24.5898 23V24H26.4391L25.4267 22.4525L24.5898 23ZM18.3984 14.4688V23H20.3984V14.4688H18.3984ZM19.3984 22H17.6406V24H19.3984V22ZM18.6406 23V14.4688H16.6406V23H18.6406ZM17.6406 15.4688H19.3984V13.4688H17.6406V15.4688ZM23.7279 13.8429L20.347 18.0558L21.9069 19.3075L25.2877 15.0946L23.7279 13.8429ZM20.3947 18.0006L18.4436 20.0982L19.908 21.4604L21.8592 19.3627L20.3947 18.0006ZM20.1582 20.5925L19.8418 18.9284L17.877 19.302L18.1934 20.9661L20.1582 20.5925ZM19.6669 19.7051L20.9852 17.9004L19.3702 16.7207L18.0519 18.5253L19.6669 19.7051ZM20.972 17.9181L23.1458 15.0763L21.5573 13.8612L19.3835 16.703L20.972 17.9181ZM22.3516 15.4688H24.5078V13.4688H22.3516V15.4688ZM23.353 22.4625L20.8393 18.5191L19.1528 19.5942L21.6665 23.5375L23.353 22.4625ZM20.6383 19.8232L21.9391 18.7333L20.6547 17.2003L19.3539 18.2901L20.6383 19.8232ZM20.4601 18.5143L23.753 23.5475L25.4267 22.4525L22.1337 17.4193L20.4601 18.5143ZM24.5898 22H22.5098V24H24.5898V22ZM30.7539 21.6289H31.7539V20.6289H30.7539V21.6289ZM30.7539 23V24H31.7539V23H30.7539ZM26.459 23H25.459V24H26.459V23ZM26.459 21.6289V20.6289H25.459V21.6289H26.459ZM27.0273 14.4688H28.0273V13.4688H27.0273V14.4688ZM27.0273 23V24H28.0273V23H27.0273ZM25.2695 23H24.2695V24H25.2695V23ZM25.2695 14.4688V13.4688H24.2695V14.4688H25.2695ZM29.7539 21.6289V23H31.7539V21.6289H29.7539ZM30.7539 22H26.459V24H30.7539V22ZM27.459 23V21.6289H25.459V23H27.459ZM26.459 22.6289H30.7539V20.6289H26.459V22.6289ZM26.0273 14.4688V23H28.0273V14.4688H26.0273ZM27.0273 22H25.2695V24H27.0273V22ZM26.2695 23V14.4688H24.2695V23H26.2695ZM25.2695 15.4688H27.0273V13.4688H25.2695V15.4688Z' fill='black' fill-opacity='0.04'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }
    .calendar-date,
    .calendar-bottom {
      background-color: var(--primary-color);
    }
  }
}

/* 소비 메인 */
.main-head-tab {
  position: sticky;
  top: 5rem;
  left: 0;
  display: flex;
  align-items: center;
  height: 6.6rem;
  width: 100%;
  max-width: 102.4rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  background: #fff;
  z-index: 10;
  li {
    a {
      display: block;
      padding: 0 1.2rem;
      color: var(--gray-txt-color);
      font-size: 1.8rem;
      font-weight: 500;
    }

    &.active {
      a {
        font-weight: bold;
        color: #424242;
      }
    }
  }
}
.my-expense {
  display: flex;
  height: 10.1rem;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  .show {
    .tit {
      margin-top: -1rem;
      font-size: 1.6rem;
    }
    .text {
      margin-top: 0.8rem;
      font-size: 1.6rem;
      color: #666;
      strong {
        margin-right: 0.2rem;
        font-size: 3.2rem;
        color: #212121;
        letter-spacing: -0.1rem;
        line-height: 1;
      }
    }
  }
  .hide {
    .tit {
      margin-top: -0.5rem;
      font-size: 2.2rem;
      font-weight: bold;
      color: #212121;
      i {
        margin-left: 0.2rem;
        vertical-align: middle;
      }
    }
    .text {
      margin-top: 0.8rem;
      font-size: 1.2rem;
      color: var(--gray-txt-color);
    }
  }

  &.hidden {
    .show {
      display: none !important;
    }
    .hide {
      display: block !important;
    }
  }
}
.consumption-link {
  display: flex;
  margin-top: 3.2rem;
  > a {
    display: block;
    width: 100%;
    border-radius: 0.8rem;
    padding: 2rem;
    .tit {
      font-size: 1.6rem;
      color: #424242;
      font-weight: 500;
      line-height: 1.4375;
    }
    .text {
      margin-top: 0.8rem;
      font-size: 1.4rem;
    }
    i {
      margin-top: 2rem;
    }
    + a {
      margin-left: 0.8rem;
    }

    &.type1 {
      background: #fff3ca;
      &.disabled {
        filter: grayscale(100);
        .tit {
          color: var(--disabled-color);
        }
        .text {
          color: #c2c2c2;
          opacity: 0.8;
        }
      }
    }
    &.type2 {
      background: #fff2f4;
    }
  }
}

.main-gray-box {
  margin-top: 2.4rem;
  padding: 2.7rem 1.6rem 2.4rem;
  border-radius: 1.4rem;
  background: #fafafa;

  .date-line-list-wrap {
    background: #fff;
    border-radius: 1.4rem;
    margin-top: 2rem;
    padding: 0.4rem 1.6rem 2rem;
    .list-item-price {
      margin-left: -1.6rem;
      margin-right: -1.6rem;
    }
    > .btn-wrap {
      margin-top: 3.2rem;
    }
  }
}

.bank-list-box {
  margin-top: 2.5rem;
  > a {
    display: block;
    position: relative;
    padding: 1.6rem;
    padding-left: 5.8rem;
    border-radius: 1.4rem;
    background: #fff;
    .img-box {
      position: absolute;
      top: 1.6rem;
      left: 1.6rem;
      width: 3.2rem;
      height: 3.2rem;
    }
    .tit {
      font-size: 1.6rem;
      color: #212121;
      font-weight: 500;
    }
    .text {
      margin-top: 0.2rem;
      font-size: 1.2rem;
      color: var(--gray-txt-color);
    }
    .number {
      margin-top: 1.8rem;
      font-size: 1.6rem;
      color: #424242;
      text-align: right;
      strong {
        font-size: 1.8rem;
        font-weight: 500;
        margin-right: 0.4rem;
      }
    }

    + a {
      margin-top: 0.8rem;
    }
  }
}

.line-link-box {
  display: flex;
  margin-top: 4.8rem;
  align-items: center;
  justify-content: center;
  p + p {
    position: relative;
    margin-left: 3.2rem;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -1.5rem;
      width: 0.1rem;
      height: 1.5rem;
      background: #d6dbe1;
      transform: translateY(-50%);
    }
  }
  a {
    font-size: 1.6rem;
    color: var(--gray-txt-color);
  }
}

.unclassified-info {
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  padding: 1.4rem 2rem;
  border: 0.15rem solid var(--primary-color);
  font-size: 1.4rem;
  color: #424242;
  transform: translateX(-50%) translateY(100%);
  border-radius: 6rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
  opacity: 0;
  strong {
    margin-left: 0.8rem;
    font-size: 1.4rem;
    color: var(--primary-color);
    span {
      font-size: 1.6rem;
    }
  }

  &.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }

  &.type2 {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    bottom: 0;
    left: 0;
    width: auto;
    opacity: 1;
    margin-bottom: 0;
    transform: translate(0, 0);
    strong {
      flex: 0 0 auto;
    }
  }
}

.kind-white-box {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 2.4rem;
  border-radius: 1.2rem;
  padding: 1.2rem 1.6rem;
  box-shadow: 0.2rem 0.4rem 1.6rem 0.6rem rgba(0, 0, 0, 0.04);
  background: #ffffff;
  > i {
    margin-right: 0.8rem;
  }
  .tit {
    font-size: 1.4rem;
    color: #424242;
    font-weight: bold;
  }
  .count {
    font-size: 1.4rem;
    color: #474f59;
  }
  .btn-txt {
    margin-left: auto;
    font-size: 1.4rem;
    color: #424242;
  }
  .alert {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.2rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #fff;
    background: #41a4ff;
    transform: translateY(calc(-100% - 1.6rem));
    animation: fadeIn 0.6s ease-in-out;
    .btn-close {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      width: 1.2rem;
      height: 1.2rem;
      @include bg-etc;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7803 2.28033C11.0732 1.98744 11.0732 1.51256 10.7803 1.21967C10.4874 0.926777 10.0126 0.926777 9.71967 1.21967L6 4.93934L2.28033 1.21967C1.98744 0.926777 1.51256 0.926777 1.21967 1.21967C0.926777 1.51256 0.926777 1.98744 1.21967 2.28033L4.93934 6L1.21967 9.71967C0.926776 10.0126 0.926776 10.4874 1.21967 10.7803C1.51256 11.0732 1.98744 11.0732 2.28033 10.7803L6 7.06066L9.71967 10.7803C10.0126 11.0732 10.4874 11.0732 10.7803 10.7803C11.0732 10.4874 11.0732 10.0126 10.7803 9.71967L7.06066 6L10.7803 2.28033Z' fill='white'/%3E%3C/svg%3E");
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1.5rem;
      right: 1.6rem;
      width: 0;
      height: 0;
      border: 0.1rem solid #41a4ff;
      border-width: 0.8rem 0.5rem;
      border-color: #41a4ff transparent transparent transparent;
    }
  }
}

.consume-event {
  display: flex;
  @include scroll-x;
  @include scroll-hide;
  @include outer(true);
  margin-top: 3.2rem;
  -webkit-overflow-scrolling: touch;
  a {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    width: 28rem;
    padding: 2.4rem 2.2rem 2.4rem 2rem;
    border-radius: 0.8rem;
    align-items: center;
    + a {
      margin-left: 1.2rem;
    }
    .tit {
      font-weight: 500;
      font-size: 1.6rem;
      color: #424242;
    }
    .text {
      margin-top: 0.4rem;
      font-size: 1.4rem;
      color: #424242;
      line-height: 1;
    }
    i {
      margin-left: auto;
    }
  }
}

.list-box {
  @include outer;
  .list {
    display: flex;
    align-items: center;
    padding: 2.2rem var(--base-padding);
    .tit {
      margin-left: 1.2rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: #424242;
    }
    .money {
      margin-left: auto;
      margin-right: 0.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: #424242;
      strong {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }

    &.disabled {
      .money {
        color: var(--gray-txt-color);
        font-weight: 400;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 2.4rem;
      right: 2.4rem;
      height: 0.1rem;
      background: rgba(228, 228, 228, 0.3);
    }
  }
}

.img-circle {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fafafa;
  > img {
    pointer-events: none;
    @include img-fit;
  }
}

.month-no-data-box {
  .pop-body {
    margin-bottom: -10.8rem;
    .ui-swiper {
      height: 100%;
      .swiper {
        height: calc(100% - 0.6rem);
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 0.6rem;
        height: 0.6rem;
      }
      .swiper-pagination-bullet-active {
        width: 2.4rem;
        background: #474f59;
      }
    }
  }
}
.white-box {
  padding: 2rem 1.6rem;
  border-radius: 1.2rem;
  background: #fff;
}

.consume-compare-box {
  display: flex;
  margin-top: 1.6rem;
  > .left,
  > .right {
    position: relative;
    flex: 1 1 auto;
    padding: 1.6rem 0;
    border-radius: 1.2rem;
    text-align: center;
    background: #fafafa;
    .tit {
      font-size: 1.2rem;
      font-weight: 500;
    }
    .img-circle {
      margin: 1.2rem auto 0;
      background: #fff;
    }
    > .img-box {
      margin: 1.2rem auto 0;
    }
    .text {
      margin-top: 0.4rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: #212121;
    }
    .badge {
      margin-top: 0.4rem;
      font-size: 1.2rem;
      color: #818892;
      background: #f2f4f6;
    }
    .amount {
      margin-top: 1.2rem;
      padding-top: 1.3rem;
      border-top: 0.1rem solid rgba(23, 23, 23, 0.05);
      font-size: 1.4rem;
      font-weight: 500;
      strong {
        font-size: 1.6rem;
      }
    }
    &.win {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1.2rem;
        box-sizing: border-box;
        pointer-events: none;
        border: 0.2rem solid var(--primary-color);
      }
      .badge {
        color: #fff;
        background: var(--primary-color);
      }
      .amount {
        color: var(--primary-color);
      }
    }
    &.kkl {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -0.4rem;
        right: 1.2rem;
        width: 3.1rem;
        height: 3.1rem;
        background: url('../images/consume/ico-badge-KKL.png') no-repeat center center / 100%;
      }
    }
  }
  .left {
    .tit {
      color: var(--gray-txt-color);
    }
  }
  .right {
    .tit {
      color: #424242;
    }
  }

  .state {
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
    width: 0.8rem;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4.4rem;
      height: 4.4rem;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.04);
      background: #ffffff;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        background: no-repeat center center / 100%;
      }
    }

    &.vs {
      i {
        &:after {
          width: 2.3rem;
          height: 1.4rem;
          transform: translate(-50%, -50%);
          background-image: url('../images/consume/ico-vs.png');
        }
      }
    }
    &.winR {
      i {
        &:after {
          width: 1.2rem;
          height: 2rem;
          transform: translate(-50%, -50%) rotate(180deg);
          background-image: url('../images/consume/ico-arrow.png');
        }
      }
    }
    &.winL {
      i {
        &:after {
          width: 1.2rem;
          height: 2rem;
          transform: translate(-50%, -50%);
          background-image: url('../images/consume/ico-arrow.png');
        }
      }
    }
    &.question {
      i {
        &:after {
          width: 1.2rem;
          height: 2rem;
          transform: translate(-50%, -50%);
          background-image: url('../images/consume/ico-question.png');
        }
      }
    }
    &.same {
      i {
        &:after {
          width: 1.5rem;
          height: 0.9rem;
          transform: translate(-50%, -50%);
          background-image: url('../images/consume/ico-same.png');
        }
      }
    }
  }

  &.type2 {
    > div {
      display: flex;
      flex-flow: column;
      .tit {
        margin-bottom: 1.2rem;
      }
      > .img-box {
        width: 6rem;
        margin: auto;
      }

      &.win {
        > .img-box {
          width: 8rem;
        }
      }
    }
  }
}

.consume-compare-info-box {
  margin-top: 0.8rem;
  padding: 1.3rem 0;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  background: #fafafa;
  &.end {
    color: var(--primary-color);
    background: #fff2f4;
  }
}

.consume-process-bar {
  position: relative;
  margin: 7.6rem 0 1.6rem;
  height: 0.8rem;
  border-radius: 0.6rem;
  background: #ebebeb;
  > span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 0.6rem;
    background: var(--primary-color);
  }
  .tip-box {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 7.4rem;
    padding: 0.8rem 0;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    transform: translateY(calc(-100% - 1.6rem)) translateX(50%);
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      width: 0;
      height: 0;
      border: 0.1rem solid var(--primary-color);
      border-width: 0.8rem 0.5rem;
      transform: translateX(-50%);
      border-color: var(--primary-color) transparent transparent transparent;
    }
    &.left {
      transform: translateY(calc(-100% - 1.6rem)) translateX(calc(100% - 1rem));
      &:after {
        left: 1rem;
      }
    }
    &.right {
      transform: translateY(calc(-100% - 1.6rem)) translateX(1rem);
      &:after {
        left: auto;
        right: calc(1rem - 0.5rem);
      }
    }
  }
}

.tab-list-group {
  > div {
    display: none;
    &.active {
      display: block;
      animation: fadeIn 0.5s ease;
    }
  }
}

.tab-btn-group {
  display: flex;
  button {
    display: flex;
    width: 100%;
    height: 3.3rem;
    border-radius: 2.1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--gray-txt-color);
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: all 0.3s ease;
    + button {
      margin-left: 0.8rem;
    }

    &.active {
      color: #fff;
      font-weight: bold;
      background: var(--primary-color);
    }
  }
}
.check-motion-page {
  padding: 14rem var(--base-padding) 11rem;
  display: none;
  flex: 1 0 auto;
  flex-direction: column;
  > * {
    width: 100%;
  }
  &.ready {
    display: flex;
  }
  &.show {
    display: flex;
    animation: fadeInUpSmall 0.5s;
  }
  .txt-list {
    margin-top: auto;
  }
}
.check-motion-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 28rem;
  width: 28rem;
  margin: 0 auto;
  .ico-X {
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
    margin-bottom: 2.4rem;
    @include bg-etc;
    background-image: url(../images/MY/car-motion-X.png);
  }
  .check-txt {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 2rem);
    min-height: 6rem;
    padding: 1rem;
    margin: 2.5rem 1rem 0;
    background: #474f59;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    border-radius: 1.2rem;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 100%;
      margin-left: -0.5rem;
      border: 1rem solid transparent;
      border-bottom-width: 0;
      border-top-color: #474f59;
    }
  }
  &.car-img {
    @include bg-etc;
    &.on {
      background-image: url(../images/MY/car-motion-on.png);
    }
    &.off {
      background-image: url(../images/MY/car-motion-off.png);
    }
  }
  &.digital-img {
    @include bg-etc;
    &.off {
      background-image: url(../images/MY/digital-motion-off.png);
    }
  }
}
.digital-motion {
  width: 28rem;
  height: 28rem;
  // background: url(../images/MY/digital-motion.png) no-repeat center top / 100% auto;
  // animation: digital-motion-bg 1.5s steps(4) infinite;
}
@keyframes digital-motion-bg {
  100% {
    background-position: 0 -112rem;
  }
}
.car-motion {
  flex-shrink: 0;
  position: relative;
  width: 16.2rem;
  height: 13rem;
  margin-bottom: 3.2rem;
  // @include bg-etc;
  // background-image: url(../images/MY/car-motion-4.png);
  i {
    position: absolute;
    @include bg-etc;
    &:nth-child(1) {
      width: 15.1rem;
      height: 10.1rem;
      left: 0.9rem;
      bottom: 0;
      background-image: url(../images/MY/car-motion-1.png);
    }
    &:nth-child(2) {
      opacity: 0;
      width: 10.7rem;
      height: 6.5rem;
      left: 3.2rem;
      bottom: 2.7rem;
      background-image: url(../images/MY/car-motion-2.png);
      opacity: 0;
      animation: carMotion 4s infinite both;
    }
    &:nth-child(3) {
      opacity: 0;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      background-image: url(../images/MY/car-motion-3.png);
      animation: carMotion 4s infinite 0.7s both;
    }
  }
}

.dot-animation {
  position: relative;
  margin-left: 0.2rem;
  span {
    display: inline-block;
    animation: dotAnimation 1s linear infinite both alternate;
  }
  &:before {
    content: '.';
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    animation: dotAnimation 1s linear 0.25s infinite both alternate;
  }
  &:after {
    content: '.';
    position: absolute;
    bottom: 0;
    left: 1rem;
    animation: dotAnimation 1s linear 0.5s infinite both alternate;
  }
}

@keyframes dotAnimation {
  0%,
  25% {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  50%,
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes carMotion {
  0%,
  10% {
    opacity: 0;
    transform: translateY(-80px);
  }
  15% {
    opacity: 1;
  }
  40% {
    transform: translateY(0px);
  }
  70% {
    opacity: 1;
  }
  85%,
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}
.ico-info-flex {
  @include outer;
  > ul {
    display: flex;
    > li {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 1.2rem;
      strong {
        color: var(--strong-txt-color2);
      }
      b {
        font-weight: 500;
        color: var(--gray-txt-color);
      }
    }
  }
}
