.intro-swiper.ui-swiper {
  text-align: center;
  .swiper-pagination {
    margin-top: 0;
    flex-shrink: 0;
    .swiper-pagination-bullet {
      background: var(--primary-color);
    }
  }
  .inner {
    display: flex;
    flex-direction: column;
    height: -vh(100, 15rem, true);
    .text {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
    }
    .img {
      flex-shrink: 0;
    }
    .sub-txt {
      font-size: 1.4rem;
      color: #818892;
      margin-top: 1.6rem;
    }
  }
}
.intro-btn.btn-wrap.bottom-fixed > div {
  padding-top: 0;
}
.dot-password {
  height: 5.2rem;
  padding: 1.6rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  .dot {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: 0.2rem solid #d6dbe1;
    border-radius: 50%;
    transition: 0.3s;
    &.on {
      border-color: var(--primary-color);
      background-color: var(--primary-color);
    }
    + .dot {
      margin-left: 1.2rem;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
