.logo-ani {
  margin: 0 auto;
  i {
    position: relative;
    display: block;
    // padding-top: #{(150 / 118) * 100}+ '%';
    padding-top: 100%;
    margin: 0 10.67%;
    animation: logo-ani3 10s infinite;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      @include bg-etc;
    }
    &:before {
      top: 0;
      height: #{(80 / 150) * 100}+ '%';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='118' height='80' viewBox='0 0 118 80' fill='none'%3E%3Cpath d='M99.9599 4H14.5225C11.8032 4 9.19528 5.08023 7.27243 7.00308C5.34958 8.92593 4.26932 11.5339 4.26932 14.2532C4.26932 16.9725 5.34958 19.5805 7.27243 21.5033C9.19528 23.4262 11.8032 24.5064 14.5225 24.5064H43.1129V39.8956C43.2254 42.5419 44.3558 45.0424 46.2681 46.8751C48.1804 48.7078 50.7267 49.731 53.3754 49.731C56.0241 49.731 58.5704 48.7078 60.4827 46.8751C62.395 45.0424 63.5254 42.5419 63.6379 39.8956V24.5064H89.7067V39.8956C89.7067 42.6149 90.7869 45.2228 92.7098 47.1457C94.6326 49.0685 97.2406 50.1488 99.9599 50.1488C102.679 50.1488 105.287 49.0685 107.21 47.1457C109.133 45.2228 110.213 42.6149 110.213 39.8956V14.2532C110.213 11.5339 109.133 8.92593 107.21 7.00308C105.287 5.08023 102.679 4 99.9599 4' fill='%23FD7E64'/%3E%3Cpath d='M104.132 76.7367H14.7081C13.3237 76.7955 11.9417 76.5737 10.6453 76.0845C9.34889 75.5953 8.16487 74.8488 7.16449 73.8901C6.1641 72.9313 5.36802 71.78 4.82419 70.5056C4.28036 69.2311 4 67.8598 4 66.4742C4 65.0885 4.28036 63.7172 4.82419 62.4427C5.36802 61.1683 6.1641 60.0171 7.16449 59.0583C8.16487 58.0995 9.34889 57.3531 10.6453 56.8639C11.9417 56.3747 13.3237 56.1528 14.7081 56.2117H104.132C105.516 56.1528 106.898 56.3747 108.195 56.8639C109.491 57.3531 110.675 58.0995 111.675 59.0583C112.676 60.0171 113.472 61.1683 114.016 62.4427C114.56 63.7172 114.84 65.0885 114.84 66.4742C114.84 67.8598 114.56 69.2311 114.016 70.5056C113.472 71.78 112.676 72.9313 111.675 73.8901C110.675 74.8488 109.491 75.5953 108.195 76.0845C106.898 76.5737 105.516 76.7955 104.132 76.7367' fill='%232CD4A8'/%3E%3C/svg%3E");
      animation: logo-ani1 10s infinite backwards;
    }
    &:after {
      bottom: 0;
      height: #{(70 / 150) * 100}+ '%';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='118' height='70' viewBox='0 0 118 70' fill='none'%3E%3Cpath d='M102.426 66.6737H14.5227C12.1922 66.6769 9.93007 65.8861 8.10919 64.4315C6.28831 62.977 5.0173 60.9455 4.50557 58.6719C3.99384 56.3982 4.27191 54.0181 5.29402 51.9237C6.31613 49.8292 8.02128 48.1455 10.1284 47.1499L56.8335 24.9006H14.7081C13.3237 24.9595 11.9417 24.7376 10.6453 24.2484C9.34889 23.7592 8.16487 23.0127 7.16448 22.054C6.1641 21.0952 5.36802 19.944 4.82419 18.6695C4.28036 17.3951 4 16.0237 4 14.6381C4 13.2525 4.28036 11.8811 4.82419 10.6067C5.36802 9.33223 6.1641 8.181 7.16448 7.22223C8.16487 6.26347 9.34889 5.51701 10.6453 5.02781C11.9417 4.5386 13.3237 4.31675 14.7081 4.3756H102.278C104.61 4.36815 106.875 5.15598 108.699 6.60905C110.523 8.06212 111.797 10.0936 112.311 12.3683C112.826 14.6431 112.549 17.0252 111.527 19.1215C110.505 21.2178 108.799 22.9031 106.69 23.8994L59.9669 46.1487H102.407C103.792 46.0898 105.174 46.3117 106.47 46.8009C107.767 47.2901 108.951 48.0366 109.951 48.9953C110.951 49.9541 111.748 51.1053 112.291 52.3798C112.835 53.6542 113.116 55.0256 113.116 56.4112C113.116 57.7968 112.835 59.1682 112.291 60.4426C111.748 61.7171 110.951 62.8683 109.951 63.8271C108.951 64.7858 107.767 65.5323 106.47 66.0215C105.174 66.5107 103.792 66.7326 102.407 66.6737' fill='%2300DCDC'/%3E%3C/svg%3E");
      background-size: 100% 100%;
      animation: logo-ani2 10s infinite backwards;
    }
  }
}
@keyframes logo-ani1 {
  0% {
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
  }
  35% {
    left: -50%;
    top: 0;
    transform: translateY(0);
  }
  55% {
    left: 0;
  }
}
@keyframes logo-ani2 {
  0% {
    left: 50%;
    bottom: 50%;
    transform: translateY(50%);
    width: 114%;
    height: #{(80 / 150) * 100}+ '%';
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    left: 50%;
    bottom: 50%;
    transform: translateY(50%);
    width: 114%;
    height: #{(80 / 150) * 100}+ '%';
  }
  35% {
    left: 50%;
    bottom: 0;
    transform: translateY(0);
    width: 100%;
    height: #{(70 / 150) * 100}+ '%';
  }
  55% {
    left: 0;
  }
}

@keyframes logo-ani3 {
  0%,
  75% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(-90deg);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}

//test
.match-profile {
  position: sticky;
  top: 4rem;
  height: 20rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  color: #fff;
  background: linear-gradient(135deg, rgba(255, 169, 118, 0.5) 0%, rgba(255, 121, 112, 0.5) 100%);
  .img-box {
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .cont {
    flex: 1 1 auto;
    margin-left: 1.8rem;
  }
}
.match-content {
  position: relative;
  background: #fff;
  margin-top: -4rem;
  padding-top: 4rem;
  border-radius: 4rem 4rem 0 0;
  .title-bar {
    position: sticky;
    top: 6rem;
    @include outer;
    padding: 1rem 2rem;
    background: #fff;
  }
  &.ty2 {
    .title-bar {
      top: 11rem;
    }
  }
}
